.content{
    padding: 2em;
}

.content h2{
    text-align: center;
}

form{
    margin: auto;
    width: 50%;
    padding: 2em 0;
    border: 1px solid lightgray;
    border-radius: 5px;
}

form .input{
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

form input{
    padding: 0.5em;
    border: solid 1px lightgray;
    border-radius: 5px;
    margin: auto;
}

form button{
    display: block;
    margin: auto;
    background-color: #fff;
    border: solid 1px #458cfe;
    border-radius: 5px;
    padding: 5px 10px;
    color: #458cfe;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
}

form button:hover{
    background-color: #458cfe;
    color: #fff;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.result{
    text-align: center;
    margin-bottom: 0;
}

.error{
    color: red;
    margin-top: 0;
    margin-bottom: 1em;
}

.reset{
    margin-left: auto;
    margin-right: 25%;
}